<a href="https://colab.research.google.com/github/MINYEONG72/aipython/blob/main/2024_01_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#2-6
#하나의 변수를 활용하는 코드입니다.
Lab=105
print("우리가 수업하는 실습실:")
print(Lab)

우리가 수업하는 실습실:
105

In [ ]:
#2-7
#하나의 변수를 활용하는 코드입니다.
Lab=105
print("우리가 수업하는 실습실:",Lab)

우리가 수업하는 실습실: 105

In [ ]:
#2-8
# 변수 두 개를 생성하고 값을 할당
my_id=202206195
grade=2
# 두 개의 변수에 할당된 값을 출력
print("나의 학번:")
print(my_id)
print("학년:")
print(grade)

나의 학번:
202206195
학년:
2

In [ ]:
#2-9
# 변수에 값을 할당하고 출력하는 예제입니다.
# dollars 변수에 값을 할당해봅시다.
dollars=2.75
print("I have",dollars,"in my account")
# dollars 변수에 새로운 값을 할당해봅시다.
dollars=99.95
print("But now I have",dollars,"in my account'")

I have 2.75 in my account
But now I have 99.95 in my account'

In [ ]:
#2-10
# 두 개의 변수를 생성하고 문자열을 할당합니다.
department = '국어국문학과'
name = '홍길동'
print(department,name)

국어국문학과 홍길동

In [ ]:
#2-11
# 학과명을 입력받습니다.
department=input("학과명:")
# 여러분의 이름을 입력받습니다.
name=input("성명:")
print("안녕하세요",department,name,"입니다")

학과명:문헌정보학과
성명:김민영
안녕하세요 문헌정보학과 김민영 입니다

In [ ]:
from re import A
#2-12
# 여러분의 이름, 나이, 통학시간 정보를 입력받습니다.
name=input('당신의 이름은 무엇입니까?')
age=int(input("나이는 어떻게 되시나요?"))
attending_time=float(input("통학시간은 얼마나 걸립니까?"))
#데이터 출력
print("입력정보는 다음과 같습니다")
print("이름:",name)
print("나이:",age)
print("통학시간:",attending_time)

당신의 이름은 무엇입니까?김민영
나이는 어떻게 되시나요?23
통학시간은 얼마나 걸립니까?0.5
입력정보는 다음과 같습니다
이름: 김민영
나이: 23
통학시간: 0.5

In [ ]:
#2-13
# salary 변수에 급여를 할당합니다.
salary=2500.0
# bonus 변수에 보너스를 할당합니다.
bonus=1200.0
#급여와 보너스를 더하여 총 급여를 구해봅니다
pay=salary+bonus
print("총급여:",pay)

총급여: 3700.0

In [ ]:
#2-14
#원가에 할인율을 적용하여 할인가격을 계산해보자
original_price=float(input("제품의 원가를 입력해주세요:"))
#할인율 20%적용
discount=original_price*0.2
#적용된 제품 가격 계산
sale_price=original_price-discount
print("할인가격:",sale_price)

제품의 원가를 입력해주세요:100
할인가격: 80.0

In [ ]:
#2-15
#세 과목의 평가점수 입력받고 각각의 변수에 할당
test1=float(input("첫 번째 과목 점수를 입력하세요:"))
test2=float(input("두 번째 과목 점수를 입력하세요:"))
test3=float(input("세 번째 과목 점수를 입력하세요:"))
#평균을 계산하고 값을 변수에 할당
average=(test1+test2+test3)/3.0
print('3과목의 평균 점수:', average)

첫 번째 과목 점수를 입력하세요:90
두 번째 과목 점수를 입력하세요:80
세 번째 과목 점수를 입력하세요:100
3과목의 평균 점수: 90.0

In [ ]:
#2-16
#초를 입력받아 시, 분, 초로 변환하는 프로그램
total_seconds=float(input("시간 값을 초 단위로 입력해주세요:"))
hours=total_seconds//3600
minutes=(total_seconds//60)%60
seconds=total_seconds%60
#출력
print("시, 분, 초는 다음과 같습니다.")
print("시:",hours)
print("분:",minutes)
print("초:",seconds)

시간 값을 초 단위로 입력해주세요:11730
시, 분, 초는 다음과 같습니다.
시: 3.0
분: 15.0
초: 30.0

In [ ]:
#2-17
future_value= float(input("목표 금액을 입력해주세요: "))
rate= float(input("연간 이율을 입력해주세요: "))
years=int(input("저축 기간을 연 단위로 입력해주세요:"))
present_value=future_value/(1.0+rate)**years
print("적립금액:",present_value)

목표 금액을 입력해주세요: 10000.0
연간 이율을 입력해주세요: 0.05
저축 기간을 연 단위로 입력해주세요:10
적립금액: 6139.132535407592

In [ ]:
#2-18
print("a","b","c")
print("a","b","c",sep='')
print("a","b","c",sep='***')

a b c
abc
a***b***c

In [ ]:
print("a")
print("b")
print("c",end='')
print("d",end='')
print("e",end='***')
print("f")

a
b
cde***f

In [ ]:
2-20
amount_due=5000.0
monthly_payment = amount_due / 12.0
print("월급여: ", monthly_payment)

월급여:  416.6666666666667

In [ ]:
#2-21
amount_due = 5000.0
monthly_payment = amount_due / 12
print("월급여: ", format(monthly_payment, ".2f"))

월급여:  416.67

In [ ]:
#2-22
monthly_pay = 5000.0
annual_pay = monthly_pay * 12
print('Your annual pay is $', format(annual_pay, ',.2f'), sep='')

Your annual pay is $60,000.00

In [ ]:
#2-23
num1 = 127.899
num2 = 3465.148
num3 = 3.776
num4 = 264.821
num5 = 88.081
num6 = 799.999

print(format(num1, '7.2f'))
print(format(num2, '7.2f'))
print(format(num3, '7.2f'))
print(format(num4, '7.2f'))
print(format(num5, '7.2f'))
print(format(num6, '7.2f'))

 127.90
3465.15
   3.78
 264.82
  88.08
 800.00