<a href="https://colab.research.google.com/github/MINYEONG72/aipython/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data="Greeks for Greeks"
lines=data.split(' ')
print([lines])

In [ ]:
ords=['Greek','for','Greeek']
sentence='-'.join(words)
print(sentence)

In [ ]:
squares=[x**2 for x in range(5) if x%2==0]
print(squares)

In [ ]:
squares=[x**2 for x in range(1,21) if x%3==0]
print(squares)

In [ ]:
squares=[x**2 for x in range(1,6)]
print(squares)

In [ ]:
city= ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
squares=[city for city in city if "S" in city ]
print(squares)

In [ ]:
fruits=["apple", "banana", "cherry"]
for index, fruit in enumerate (fruits):
    print(index, fruit)

In [ ]:
text=["a","b","c"]
for index, text in enumerate(text):
    print("fruit",index,"name is",text)

In [ ]:
names = ['John', 'Jane', 'Doe']
ages = [25, 30, 35]
for name, age in zip(names, ages):
    print(f"{name}is {age} years old")

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

In [ ]:
name = [ "M", "N", "S", "A" ]
roll_no = [ 4, 1, 3, 2 ]
for name, roll_no in zip(name, roll_no):
    print({(name, roll_no)},end='')

In [ ]:
names = ['M', 'R', 'C']
ages = [24, 50, 18]
for index, (name, age) in enumerate(zip(names, ages)):
    print(f"{index} {name} {age}")

In [ ]:
add=lambda x,y:x+y
print(add(5,10))

In [ ]:
num1 = [4, 5, 6]
num2 = [5, 6, 7]